body {
    background: #196dff;
    text-align: center;
}
#main {
    width: 1000px;
    height: 600px;
    background: #80c6f5;
    margin: 25px 100px;
    font-style: oblique;
    font-size: xx-large;
}